
.form-img{
    width: 200px;
}
.form-container{
    border: 1px solid rgb(137, 137, 137);
    display:block;
    width: 40%;
    margin: 20px;
    box-shadow: 1px 1px 4px gray ;
    padding: 15px;

}
.from-link-li{
    /* width: 50%; */
    padding: 4px;
    background-color: rgb(229, 229, 229);
}
.from-link-a{
    color: rgb(34, 34, 34);
}
.form-section{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
}